#container{
    display: flex;
}

#placeForImage{
    position: relative;
    display:flex ;
    justify-content: center;
}

#photoCreator{
    position:absolute;
    bottom:10px;
    font-size: 12px;
}

.heading{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 200px;
    font-size: 17px;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}

button{
    margin-left: 20px;
    border-radius: 5px;
    font-size: 12px;
    width: 150px;
    height: 35px;
    border:1px solid rgb(136,45,23);
    background-color: rgb(136,45,23);
    color:white;
}

#formForNewBook{
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 10px;
    font-weight: 700;
}

.removeButton{
    background-color: rgb(210,4,45);
    width: 20px;
    height: 20px;

}

.label{
    font-family: "Hubballi";
    letter-spacing: 2px;
    font-size: 12px;
}

.formElement{
    margin-bottom: 10px;
}

#save{
    margin-left: 0px;
    margin-top: 20px;
}

.book{
    font-family: "Hubballi";
    margin-left: 20px;
}

input[type="radio"]:checked{
    accent-color:rgb(136,45,23);
}

.readStatusButton{
    font-family:Arial, Helvetica, sans-serif;
}

